.advert_swiper {
    position: relative;
}

.advert_swiper_wrapper {
    display: flex;
    flex-direction: row;
}

.advert_swiper_wrapper_img {
    width: 100vw;
    z-index: 1;
}

.advert_swiper_button {
    z-index: 2;
    position: absolute;
    top: 50%;
    color: white;
    /* 點擊 */
    cursor: pointer;
    /* 不可反白 */
    user-select: none;
}

.advert_swiper_button_next {
    right: 10px;
}

.advert_swiper_button_prev {
    left: 10px;
}