.store {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #F6F4EE;
    padding: 60px 150px;
}

.store_info_title {
    font-size: 22px;
    color: #4B4237;
    font-weight: bold;
    margin-bottom: 20px;
}

.store_info_datas {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.store_info_data {
    color: #4B4237;
    font-size: 18px;
}

.store_info_data_strong {
    font-weight: 500;
}

.store_info_subtitle {
    font-size: 18px;
    color: #4B4237;
    font-weight: bold;
    margin-bottom: 20px;
}

.store_info_app {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.store_info_app_logo {
    width: 100px;
    user-select: none;
}

.store_info_app_downloads {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.store_info_app_download {
    display: flex;
    color: #4B4237;
    font-weight: bold;
    flex-direction: row;
    gap: 10px;
    padding: 10px 20px;
    background-color: white;
    border: 2px solid #4B4237;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
}

.store_info_app_download:hover {
    background-color: #4B4237;
    color: white;
}

.store_map{
    border: 4px solid #4B4237;
    border-radius: 8px;
}