@import url("./reset.css");
@import url("./index_advert_swiper.css");
@import url("./index_about_belleu.css");
@import url("./index_product_recommend.css");
@import url("./index_store.css");
@import url("./header.css");
@import url("./footer.css");

body {
    width: 100%;
}

.marquee {
    color: white;
    background-color: #E5AAA3;
    font-size: 16px;
    text-align: center;
    padding: 10px 0;

}