@import url("./reset.css");
@import url("./index_advert_swiper.css");
@import url("./index_about_belleu.css");

body {
    width: 100%;
}

.marquee {
    color: white;
    background-color: #E5AAA3;
    font-size: 16px;
    text-align: center;
    padding: 10px 0;

}

.nav {
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.30) 0%, rgba(56, 56, 56, 0.23) 49%, rgba(230, 230, 230, 0.00) 100%);
    position: fixed;
    z-index: 99;
    width: 100vw;
    box-sizing: border-box;
    gap: 50px;
    padding: 0px 60px;
}

.nav_button {
    display: block;
    font-size: 18px;
    color: white;
}

.nav_logo {
    font-family: Gaegu;
    font-size: 40px;
    color: white;
}

.nav_button:nth-last-child(2) {
    margin-left: auto;
}