@import url("/css/reset.css");
@import url("/css/advert_swiper.css");
.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.30) 0%, rgba(56, 56, 56, 0.23) 49%, rgba(230, 230, 230, 0.00) 100%);
    position: fixed;
    z-index: 99;
    width: 100vw;
    box-sizing: border-box;
    padding: 5px 60px;
    gap: 50px;
}

.nav_button {
    display: block;
    font-size: 18px;
    color: white;
}

.nav_logo {
    font-family: Gaegu;
    font-size: 40px;
    color: white;
}

.nav_button:nth-last-child(2) {
    margin-left: auto;
}