.product {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}

.product__gallery {
    display: flex;
    flex-direction: column;
    position: fixed;
    user-select: none;
}

.product__image {
    user-select: none;
    width: 45vw;
    height: 100vh;
    object-fit: cover;
    margin: 0;
    padding: 0;

}

.product__info {
    /* display: none; */
    position: relative;
    box-sizing: border-box;
    width: 100vw;
    padding: 30px 100px 30px 50vw;
}

.product__btn {
    user-select: none;
    cursor: pointer;
    display: block;
    background: none;
    border: none;
    line-height: 1;
    font-weight: 100;
    font-size: 48px;
    color: #736B60;
    margin-left: auto;
}

.product__header {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.product__title {
    font-size: 24px;
    color: black;
    font-weight: 500;
}

.product__price--original {
    font-size: 20px;
    margin-left: auto;
    margin-right: 8px;
    text-decoration: line-through;
    color: rgb(193, 193, 193);
}

.product__price--sale {
    color: #736B60;
    font-size: 24px;
}

.product__price--original {
    user-select: none;
}

.product__event {
    user-select: none;
    margin-top: 10px;
}

.product__event-name {
    cursor: pointer;
    font-size: 16px;
    text-align: right;
    color: #E5AAA3;
}

.product__event-name:hover {
    text-decoration-line: underline;
}

.product__desc {
    margin-top: 10px;
    color: #4B4237;
    font-size: 18px;
    line-height: 1.5;
}

.product__colors {
    margin-top: 20px;
}

.product__sizes {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.product__stock {
    user-select: none;
    color: #4B4237;
    font-size: 16px;
}

.product__qty {
    margin-top: 20px;
}

.product__actions {
    margin-top: 20px;
}

.product__notice {
    margin-top: 20px;
    line-height: 1.2;
    font-size: 16px;
    color: #736B60;
    padding-bottom: 16px;
    border-bottom: 2px solid rgba(128, 128, 128, .1);
}

.product-tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
}

.product-tabs__tab {
    display: block;
    background: none;
    border: none;
    font-size: 16px;
    color: gray;
    cursor: pointer;
}

.product-tabs__tab:hover {
    color: #4B4237;
}

.product-tabs__tab--active {
    color: #4B4237;
    text-decoration: underline;
}

.product-tabs__panel {
    margin-top: 40px;
    padding-bottom: 20px;
    border-bottom: 2px solid rgba(128, 128, 128, .1);

}

.product-tabs__panel--active {
    display: block;
}

.product-tabs__text {
    color: gray;
    font-size: 18px;
}

.product-tabs__title {
    font-size: 22px;
    color: #4B4237;
    font-weight: 500;
    margin-bottom: 40px;
}

.product-tabs__panel--info .product-tabs__text {
    line-height: 2;
}

.product-tabs__panel--info .product-tabs__title {
    margin-bottom: 30px;
}

.product-tabs__note {
    color: gray;
    font-size: 18px;
    margin-top: 20px;
}

.product-tabs__spec {
    margin-top: 20px;
    line-height: 2;
}

.product-tabs__group {
    display: flex;
    flex-direction: row;
}

.product-tabs__term,
.product-tabs__value {
    color: gray;
    font-size: 18px;
}

.product-tabs__value {
    margin-left: 12px;
    margin-right: 20px;
}

.product-tabs__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-left: 1.2em;
    list-style-type: decimal;
}

.product-tabs__item {
    font-size: 18px;
    color: gray;
}

.product__selected {
    user-select: none;
    display: flex;
    margin-left: auto;
}

.size-table {
    width: 100%;
    border-collapse: collapse;
}

.size-table__th,
.size-table__td {
    border: 1px solid #ddd;
    padding: 14px;
    text-align: center
}

.product-tabs__table-wrap {
    user-select: none;
}

.size-table__th {
    font-weight: 500;
    background-color: #E5AAA3;
    color: white;
    font-size: 18px;
}

.size-table__td {
    font-size: 16px;
    user-select: text;
}

.product__carousel {
    display: flex;
    width: 100%;
    bottom: 0;
    background-color: white;
    box-sizing: border-box;
    border: 2px solid #4B4237;
}

.product__item {
    transition: filter 0.4s ease;
    width: calc(100% / 6);
    box-sizing: border-box;
    border: 1px solid white;
}

.is-empty {
    background-color: gray;
    opacity: 30%;
}

.gallery__button {
    padding: 0;
    display: block;
    font-size: 40px;
    cursor: pointer;
    color: whitesmoke;
    user-select: none;
    background: none;
    border: none;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    height: 40px;
    transform: translateY(-100%);

}

.gallery__button:hover {
    color: #4B4237;
}

/* #4B4237 */

.gallery__button--next {
    right: 5px;
}

.gallery__button--prev {
    left: 5px;

}

.product__item.is-active {
    filter: grayscale(0);

}

.product__carousel {
    display: none;
}

@media screen and (max-width: 1600px) {
    .product__carousel {
        display: flex;
        width: 45vw;

    }

    .product__gallery {
        height: calc(100vh - 80px);
    }

}

@media screen and (max-width: 1320px) {
    .product__info {
        padding: 30px 50px 30px 60vw;
    }

    .product__image {
        width: 55vw;
        height: 100vh;
    }

    .product__item {
        width: calc(100% / 4);
        ;
    }

    .product__carousel {
        width: 55vw;
        position: absolute;
        bottom: 0;
    }
}

@media screen and (max-width: 1060px) {
    .product {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .product__gallery {
        position: relative;
        width: 100vw;
        height: 100vw;
    }

    .product__image {
        width: 100%;
        height: 100%;
    }

    .product__carousel {
        display: none;
    }

    .product__info {
        margin-top: 20px;
        width: 75vw;
        padding: 0;
        margin-bottom: 50px;
    }

    .gallery__button--prev {
        left: 20px;
    }

    .gallery__button--next {
        right: 20px;
    }
}

@media screen and (max-width: 980px) {


    .product__info {
        margin-top: 20px;
        width: 80vw;
        padding: 0;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 980px) {
    .product__btn {
        display: none;
    }

    .gallery__button {
        font-size: 60px;
        top: 92%;
    }

    .footer {
        display: block;
    }

    .product-tabs__list {
        gap: 20px;
    }

    /* .product-tabs__item,
    .product-tabs__note,
    .product-tabs__text,
    .product-tabs__term,
    .product-tabs__value,
    .product-tabs__panel--info .product-tabs__title,
    .product__event-name {
        font-size: 14px;
    }

    .product__desc,
    .product__price--original {
        font-size: 16px;
    }



    .product-tabs__title,
    .product__price--sale {
        font-size: 18px;
    }

    .product__title{
        font-size: 20px;
    } */
    .product-tabs__title {
        margin-bottom: 20px;
    }

    .product-tabs__panel--info .product-tabs__title {
        margin-bottom: 20px;
    }
}