.product_intro {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.product_intro .gallery {
    position: fixed;
    width: 50vw;
}

.product_intro .gallery_img {
    width: 100%;
}

.product_intro .information {
    height: 100vh;
    padding: 50px 5vw 0 55vw;
    box-sizing: border-box;
}

.product_intro #product_name {
    font-size: 24px;
    font-weight: bold;
}

.product_intro #product_ori_price {
    margin-left: auto;
    text-decoration: line-through;
    margin-right: 10px;
}

.product_intro #product_price {
    font-size: 22px;
    font-weight: bold;
}

.product_intro .like_button {
    font-size: 24px;
    display: flex;
    justify-content: end;
    width: 100%;
    user-select: none;
    margin-bottom: 10px;
}

.product_intro .product_intro_nameAndPrice {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.product_intro .color_chosen {
    display: inline-block;
    border: 1px solid black;
    padding: 5px;
    box-sizing: border-box;
}

.product_intro .color_block {
    width: 20px;
    height: 20px;
    background-color: blue;

}
.product_intro .product_intro_information{
    margin-bottom: 40px;
}
.product_intro .choose_color{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}