.about_belleu {
    background-color: #F6F4EE;
    padding: 100px 10vw;
    box-sizing: border-box;
}

.about_belleu h1 {
    font-size: 22px;
    color: #736B60;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    user-select: none;
}

.about_belleu p {
    font-size: 16px;
    color: #736B60;
    text-align: center;
    user-select: none;
}

.about_belleu p:first-of-type {
    margin-bottom: 10px;
}

.about_belleu p:last-of-type {
    margin-bottom: 50px;
}

.about_belleu_gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.about_belleu_gallery figure img {
    width: 19vw;
}

.about_belleu_gallery figure {
    cursor: pointer;
    box-sizing: border-box;
    border: 2px solid transparent;
}

.about_belleu_gallery figure:hover {
    border: 2px solid #736B60;
}

.about_belleu_gallery figure figcaption {
    color: #736B60;
    font-size: 18px;
    margin-top: 5px;
}