.about {
    background-color: #F6F4EE;
    padding: 100px 10vw;
    box-sizing: border-box;
}

.about__title {
    font-size: 22px;
    color: #736B60;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    user-select: none;
}

.about__text {
    font-size: 16px;
    color: #736B60;
    text-align: center;
    user-select: none;
}

.about__text:first-of-type {
    margin-bottom: 10px;
}

.about__text:last-of-type {
    margin-bottom: 50px;
}

.about__gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.about__item {
    user-select: none;
    cursor: pointer;
    box-sizing: border-box;
    border: 2px solid transparent;
}

.about__item:hover {
    border: 2px solid #736B60;
}

.about__img {
    width: 19vw;
    user-select: none;
}

.about__caption {
    color: #736B60;
    font-size: 18px;
    margin-top: 5px;
}