.recommend {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 100px 0;
}

.recommend__title {
    font-size: 22px;
    font-weight: bold;
    color: #736B60;
    margin-bottom: 10px;
}

.recommend__intro {
    color: #736B60;
    font-size: 16px;
    margin-bottom: 50px;
}

.recommend__list {
    display: flex;
    width: 80vw;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 4vw calc(8vw / 5);
}

.recommend__dots {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.recommend__dot {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}

.recommend__dot:hover {
    background-color: gainsboro;

}

.recommend__dot--active {
    background-color: #A49694;
    color: white;
}

.recommend__dot--active:hover {
    background-color: #A49694;
}

.recommend__pagination {
    margin-top: 50px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.recommend__btn {
    background: none;
    border: none;
    display: block;
    text-align: center;
    color: black;
    font-size: 14px;
    height: auto;
    padding: 8px 10px;
    text-decoration: none;
    border-radius: 2px;
    transition: background-color .3s;
    cursor: pointer;
    user-select: none;
}

.recommend__btn:hover {
    background-color: #ddd;
}