.store {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #F6F4EE;
    padding: 60px 150px;
}

.store__title {
    font-size: 22px;
    color: #4B4237;
    font-weight: bold;
    margin-bottom: 20px;
}

.store__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.store__item {
    color: #4B4237;
    font-size: 18px;
    line-height: 1.2;
}

.store__label {
    font-weight: 500;
}

.store__subtitle {
    font-size: 18px;
    color: #4B4237;
    font-weight: bold;
    margin-bottom: 20px;
}

.store__app {
    user-select: none;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.store__app-logo {
    width: 100px;
    user-select: none;
}

.store__downloads {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.store__download {
    display: flex;
    color: #4B4237;
    font-weight: bold;
    flex-direction: row;
    gap: 10px;
    padding: 10px 20px;
    background-color: white;
    border: 2px solid #4B4237;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
}

.store__download:hover {
    background-color: #4B4237;
    color: white;
}

.store__map {
    border: 4px solid #4B4237;
    border-radius: 8px;
}

@media screen and (max-width: 980px) {
    .store {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #F6F4EE;
        padding: 60px 40px;
    }

    .store__list {
        margin-bottom: 40px;
    }

    .store__app {
        gap: 20px;
    }

    .store__app-logo {
        width: 40vw;
    }

    .store__downloads {
        gap: 20px;
        justify-content: end;
    }

}