.swiper--hero,
.swiper--hero .swiper-slide {
    width: 100%;
}


.swiper--hero .swiper__img--right {
    width: 31.25%;
}

.swiper--hero .swiper__img--left {
    width: 68.75%;
    height: auto;
}

.swiper--hero .swiper-slide {
    display: flex;
}

@media screen and (max-width: 1300px) {
    .swiper--hero .swiper__img--right {
        display: none;
    }

    .swiper--hero .swiper__img--left {
        display: block;
        width: 100%;
    }
}

@media screen and (max-width: 980px) {
    .swiper--hero .swiper__img--left {
        display: none;
    }

    .swiper--hero .swiper__img--right {
        display: block;
        width: 100%;
    }

    .swiper-button {
        display: none;
    }

}