.swiper--hero {
    position: relative;
    width: 100vw;
    overflow: hidden
}

.swiper--hero .swiper__track {
    display: flex;
    flex-direction: row;
    background-color: black;
    overflow: hidden;
}

.swiper--hero .swiper__img {
    width: 100%;
    transition: transform 0.4s ease;

}

.swiper--hero .swiper__img--prev,
.swiper--hero .swiper__img--next {
    position: absolute;
}

.swiper--hero .swiper__img--prev {
    transform: translateX(-100%);
}

.swiper--hero .swiper__img--next {
    transform: translateX(100%);
}

.swiper--hero .swiper__btn {
    font-size: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: whitesmoke;
    cursor: pointer;
    border: none;
    background: none;
}

.swiper--hero .swiper__btn:hover {
    color: #4B4237;
}

.swiper--hero .swiper__btn--next {
    right: 2%;
}

.swiper--hero .swiper__btn--prev {
    left: 2%;
}

.swiper--hero .swiper__mask {
    display: none;
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 60%;
}

.swiper--hero .swiper__pagination {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 8px;
    user-select: none;

}

.swiper--hero .swiper__dot {
    cursor: pointer;
    user-select: none;
    padding: 7px;
    border: none;    background-color: #A49694;
    border-radius: 90px;
}
.swiper--hero .swiper__dot:hover{
    background-color: #4B4237;

}
.swiper--hero .swiper__dot--active{
    background-color: #4B4237;
}