.swiper--hero {
    position: relative;
}

.swiper--hero .swiper_track {
    display: flex;
    flex-direction: row;
    background-color: black;
    overflow: hidden;
}

.swiper--hero .swiper_img {
    width: 100%;
    transition: transform 0.4s ease;

}

.swiper--hero .prevIndex,
.swiper--hero .nextIndex {
    position: absolute;
}



.swiper--hero .prevIndex {
    transform: translateX(-100%);
}

.swiper--hero .nextIndex {
    transform: translateX(100%);
}

.swiper--hero .swiper_btn {
    font-size: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: whitesmoke;
    /* 點擊 */
    cursor: pointer;
    /* 不可反白 */
    user-select: none;
    border: none;
    background: none;
}

.swiper--hero .swiper_btn:hover {
    color: red;
}

.swiper--hero .swiper_btn--next {
    right: 2%;
}

.swiper--hero .swiper_btn--prev {
    left: 2%;
}


.swiper--hero .swiper_mask {
    display: none;
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 60%;
}

.swiper--hero .swiper_pagination {
    user-select: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 8px;
}

.swiper--hero .swiper_dot {
    cursor: pointer;
    padding: 7px;
    border: none;    background-color: #A49694;
    border-radius: 90px;
}
.swiper--hero .swiper_dot:hover{
    background-color: #4B4237;

}
.swiper--hero .swiper_dot--active{
    background-color: #4B4237;
}