.gaegu-regular {
  font-family: "Gaegu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.noto-sans-tc {
  font-family: "Noto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}



body {
  display: flex;
  width: 100vw;
  flex-direction: column;
}

button,
a {
  touch-action: manipulation;
}

button {
  -webkit-tap-highlight-color: transparent;
}

button:disabled {
  touch-action: manipulation;
}

button:disabled {
  pointer-events: auto;
}