.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #A49694;
    padding: 40px 100px 20px;
}

.footer_body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer_left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 80px;
}

.footer .nav {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.footer .nav_link {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.footer .about {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

.footer .about_title {
    display: flex;
    flex-direction: row;
    color: white;
    gap: 20px;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
}

.footer .brand {
    font-size: 36px;
    font-family: gaegu;
    font-weight: normal;
}

.footer_bottom {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.footer .item {
    color: white;
    font-size: 16px;
}


.footer_right {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer .info {
    color: white;
    font-size: 18px;
}

.footer .label {
    font-weight: 500;
}

.footer .info:nth-child(2) {
    margin-bottom: 10px;
}

.footer_bottom .label {
    margin-right: 10px;
    font-weight: 500;
}