.header {
    background: none;
    background-color: #F6F4EE;
    border-bottom: 1px solid #999;
    width: 100%;
    z-index: 99;
    position: fixed;
}
.header .nav__link {
    display: block;
    font-size: 18px;
    color: #4B4237;
}

.header .nav__link--logo {
    font-family: Gaegu;
    font-size: 40px;
    color: #4B4237;
}

.header .nav__item:nth-last-child(2) {
    margin-left: auto;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;

}
