.header {
    order: -1;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.30) 0%, rgba(56, 56, 56, 0.23) 49%, rgba(230, 230, 230, 0.00) 100%);
    width: 100%;
    z-index: 99;
    position: fixed;
    top: 36px;

}

.header .nav {
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    gap: 50px;
    padding: 0px 60px;
}

.header .nav_link {
    display: block;
    font-size: 18px;
    color: white;
}

.header .nav_logo {
    font-family: gaegu;
    font-size: 40px;
    color: white;
    user-select: none;
}

.header .nav_item:nth-last-child(2) {
    margin-left: auto;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
    background: none;
    background-color: #F6F4EE;
    border-bottom: 1px solid #999;
}

.sticky .nav_link {
    color: #4B4237;
}