.header {
    order: -1;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.30) 0%, rgba(56, 56, 56, 0.23) 49%, rgba(230, 230, 230, 0.00) 100%);
    width: 100%;
    z-index: 99;
    position: fixed;
}

.header--hero {
    top: 36px;
}

.header--solid {
    background: none;
    background-color: #F6F4EE;
    border-bottom: 1px solid #999;

}

.header .nav__list {
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    gap: 50px;
    padding: 0px 60px;
}

.header .nav__link {
    display: block;
    font-size: 18px;
    color: white;
}

.header--solid .nav__link {
    color: #4B4237;
}

.header .nav__link--logo {
    font-family: gaegu;
    font-size: 40px;
    color: white;
    user-select: none;
}

.header--solid .nav__link--logo {
    color: #4B4237;
}

.header .nav__item:nth-last-child(2) {
    margin-left: auto;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
    background: none;
    background-color: #F6F4EE;
    border-bottom: 1px solid #999;
}

.sticky .nav__link {
    color: #4B4237;
}

.header .mobile-nav {
    display: none;
}

.header .mobile-nav__list {
    box-sizing: border-box;
    height: 80px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 20px;
}

.header .mobile-nav__link--logo {
    font-family: gaegu;
    font-size: 32px;
    user-select: none;
    color: white;
}

.header .mobile-nav__hamburger {
    background: none;
    color: white;
    font-size: 32px;
    border: none;
}

.header .hamburger {
    transform: translateX(-100%);
    transition: transform 0.4s ease;
    width: 70vw;
    top: 0;
    position: absolute;
    background-color: white;
    height: 100vh;
    border-right: 3px solid #4B4237;
    z-index: 3;
}

.header .hamburger__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header .hamburger__item {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header .hamburger__mask {
    display: none;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: black;
    opacity: 20%;
    user-select: none;
    z-index: 1;
}

.header .hamburger__link {
    display: block;
    width: 80%;
    box-sizing: border-box;
    padding: 30px;
    font-size: 20px;
    font-weight: 500;
    color: #4B4237;
    border-bottom: 1px solid #4B4237;

}

.sticky .mobile-nav__link--logo,
.sticky .mobile-nav__hamburger {
    color: #4B4237;


}


.header--solid .mobile-nav__link--logo, .header--solid .mobile-nav__hamburger{
    color: #4B4237;
}



@media screen and (max-width: 980px) {
    .header .mobile-nav {
        display: block;
    }

    .header .nav {
        display: none;
    }
}