@import url("../base/reset.css");
@import url("../base/style.css");
@import url("../pages/index/swiper.css");
@import url("../pages/index/about.css");
@import url("../pages/index/recommend.css");
@import url("../pages/index/store.css");
@import url("../components/marquee.css");
@import url("../components/header.css");
@import url("../components/product-card.css");
@import url("../components/footer.css");