@import url("/css/base/reset.css");
@import url("/css/base/style.css");
@import url("/css/pages/index/swiper.css");
@import url("/css/pages/index/about.css");
@import url("/css/pages/index/recommend.css");
@import url("/css/pages/index/store.css");
@import url("/css/components/marquee.css");
@import url("/css/components/header.css");
@import url("/css/components/product-card.css");
@import url("/css/components/footer.css");

